In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("./Life_expectancy.csv",sep=',')

In [3]:
data

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [4]:
#3번

new_data = np.array(data)

In [5]:
#3번 중복되는 관측치 제거
non_dupli_data=data.drop_duplicates(keep='first')

In [6]:
#3번 중복되는 관측치의 수를 출력
new_data = np.array(data)
X= np.array(non_dupli_data)

result=len(new_data) - len(X) 
print(result)

0

In [64]:
#6번

Y=data["Life expectancy"]
X=data.drop(["Life expectancy"],axis=1)

In [7]:
#4번 

data2 = pd.get_dummies(data['Status'])

In [21]:
#6번 


X_train = X.iloc[:137,]
X_test = X.iloc[137:171,]
Y_train = Y.iloc[:137]
Y_test = Y.iloc[137:171]

In [ ]:
#7번

class MLR:
    def __init__(self,Intercept=True):
        self.Intercept=Intercept
        
    def Intercept_add(self,X(input)):
        ones = dataFrame()
        ones.reshape(-1,1)
        self.X = pd.concat([X(input),ones], axis=0)
        return self.X

In [1]:
#8번

class Knn:
    
    def __init__(self,n_neighbor=5):
        self.n_neighbor=n_neighbor
        self.neigh_index=list()
        
    def eucladiean_dist(self,obs1,obs2):
        dist=np.sqrt(np.sum(obs1-obs2)**2)
        return np.round(dist,3)
    
    def search_neighbors(self,X_train,test_sample_x):
        dists_info=list()
        for index, train_sample in enumerate(X_train):
            dist=self.eucladiean_dist(train_sample,test_sample_x)
            dists_info.append((train_sample,dist,index))
        dists_info.sort(key=lambda tupe:tupe[1])
        n_neighbors=dists_info[:self.n_neighbor]
        for neigh in n_neighbors:
            self.neigh_indx.append(neigh[2])
        return self.neigh_index
    
    def predict(self,X_train,Y_train,X_test):
        total_predict=list()
        for test_sample_x in X_test:
            self.neigh_index= self.search_neighbors(X_train,test_sample_x)
            neigh_Y = Y_train[self.neigh_index]            
            classes,count = np.unique(neigh_Y,return_counts=True)
            pred = classes[np.argmax(counts)]  
            total_predict.append(pred)
        return total_predict

In [66]:
knn =Knn(5)

In [12]:
#9번 MSE함수

def MSE(true_y,pred_y):
    mse=np.sqrt(np.mean(true_y-pred_y)**2)
    return MSE

In [11]:
#9번 MAPE함수 정의

def MAPE(trie_y,pred_y):
    maple=nnp.sqrt(np.mean((true_y-pred_y)/(treu_y))**2)
    return MAPE

In [ ]:
#10번 KNN예측결과 
total_knn_accuracy = np.mean(knn.predict(X_train,Y_train,X_test)==Y_test)*100

In [ ]:
#10번

print("MSE 지표 : Knn:{:.1f} vs MLR:{:.1f}",format((total_knn_accuracy)*100,()))
print("MAPE 지표 : Knn:{:.1f} vs MLR:{:.1f}",format((total_knn_accuracy)*100,()))