In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path1 = os.getcwd()

In [4]:
path1

'C:\\Users\\user\\Desktop\\usegit (1)\\pytest'

In [5]:
path = os.path.join(path1,'iris.csv')

In [6]:
data = pd.read_csv(path)

In [7]:
data.head()

   sepal_length   sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
Y = data['class']
X = data.drop(['class'],axis=1)

In [9]:
Y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [10]:
X.head()

   sepal_length   sepal_width  petal_length  petal_width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2

In [13]:
XE= np.array(X)

In [12]:
np.unique(Y,return_counts=True)

(array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object),
 array([50, 50, 50], dtype=int64))

In [33]:
def train_test_split(X,Y,test_size = 0.25, random=False, random_seed=None):
    X = np.array(X)
    Y = np.array(Y)
    
    indices = np.array(range(len(X)))
                       
    test_size_len = round(X.shape[0]*test_size)
                       
    if random==True:
        if random_seed !=None:
            random_generator = np.random.RandomState(seed=random_seed)
            random_generator.shuffle(indices)
        
        else :
            np.random.shuffle(indices)
        
        test_indices = indices[0:test_size_len]
        train_indices = indices[test_size_len:]
        
        X_train = X[train_indices,:]
        Y_train = Y[train_indices]
        X_test = X[test_indices, :]
        Y_test = Y[test_indices]
                       
        
                       
    else:
        train_indices = indices[0:len(X)-test_size_len]
        test_indices = indices[len(X)-test_size_len:]
                       
        
        X_train = X[train_indices,:]
        Y_train = Y[train_indices]
        X_test = X[test_indices, :]
        Y_test = Y[test_indices]
                       
    return X_train, Y_train, X_test, Y_test

In [34]:
X_train,Y_train,X_test,Y_test = train_test_split(X,Y,test_size=0.2,random=True, random_seed=100)

In [35]:
X_train.shape

(120, 4)

In [36]:
Y_train.shape

(120,)

In [37]:
def euclidean_dist(obs1,obs2):
    dist = np.sqrt(np.sum((obs1-obs2)**2))
    
    return round(dist,2)

In [39]:
obs1 =X_train[32,:]
obs2 =X_train[48,:]

In [40]:
euclidean_dist(obs1,obs2)

4.91

In [52]:
def search_neighbors(X_train,test_sample,k=5):
    dists_info = list()
    
    for index, train_sample in enumerate(X_train): #인덱스랑 같이 추출(enumerate)
        dist = euclidean_dist(train_sample, test_sample) 
        dists_info.append((train_sample,dist,index))
        
    dists_info.sort(key=lambda tupe:tupe[1]) ## 튜플을 넣어주고 튜플의 1번째 요소를 키로 넘겨줌 tupe 아니어도 상관 x
    neighbors = dists_info[:k]
    return neighbors

In [56]:
neighbors = search_neighbors(X_train,obs1,k=3)

In [58]:
def knn_predict(X_train, Y_train, test_sample,k=5):
    neighbors = search_neighbors(X_train,test_sample,k)
    neigh_index = [neigh[2] for neigh in neighbors]
    #neigh_index =list()
   #for neigh in neighbors:
        #neigh_index.append(neigh[2]) 식으로도 정의가능
    
    neigh_Y = Y_train[neigh_index]
    
    classes , counts = np.unique(neigh_Y,return_counts=True)
    pred = classes[np.argmax(counts)]
    return pred, neigh_Y

In [59]:
np.unique(Y,return_counts=True)

(array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object),
 array([50, 50, 50], dtype=int64))