In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\user\\Desktop\\usegit (1)\\pytest'

In [4]:
data = pd.read_csv('Life_expectancy.csv')

In [5]:
print(data.isnull().sum())# 1번문제 결측치가 존재하는 변수 출력

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult mortality                     10
Infant deaths                        0
Alcohol                            194
Percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
Under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
Thinness 1-19 years                 34
Thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
dtype: int64

In [6]:
print(sum(data.isnull().sum()>=0.1*len(data)))# 2번문제 결측치 10프로이상인것 갯수

3

In [7]:
print(data.isnull().sum()>=0.1*len(data))# 2번문제 결측치 10프로이상인것 무엇인지 확인

Country                            False
Year                               False
Status                             False
Life expectancy                    False
Adult mortality                    False
Infant deaths                      False
Alcohol                            False
Percentage expenditure             False
Hepatitis B                         True
Measles                            False
BMI                                False
Under-five deaths                  False
Polio                              False
Total expenditure                  False
Diphtheria                         False
HIV/AIDS                           False
GDP                                 True
Population                          True
Thinness 1-19 years                False
Thinness 5-9 years                 False
Income composition of resources    False
Schooling                          False
dtype: bool

In [8]:
data1 = data.drop(['Hepatitis B','GDP','Population'],axis=1) #2번문제 10프로이상인 변수제거

In [9]:
data1= data1.dropna(axis=0)# 2번 결측치 있는 변수 전부 제거

In [10]:
data1.duplicated(keep=False).sum() # 3번 중복되느 관측치 존재하는지 확인. 수 출력

0

In [11]:
data1 = data1.drop_duplicates(keep='first') #3번 중복되는 관측치 제거

In [12]:
data1

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,31,27.1,42,67.0,7.13,65.0,33.6,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,998,26.7,41,7.0,6.52,68.0,36.7,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,304,26.3,40,73.0,6.53,71.0,39.8,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,529,25.9,39,76.0,6.16,75.0,42.1,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,39,78.0,7.10,78.0,43.5,11.0,11.2,0.434,9.8

In [13]:
data4 = pd.get_dummies(data1['Status']) # 4번 status더미화 시키김

In [14]:
data5=data1.drop(['Status'],axis=1) #4번 status 를 제거

In [15]:
data6 = pd.concat([data4,data5],axis=1) # 4번 위 두개를 합쳐서 새로운 데이터 만듬

In [16]:
data6

,Developed,Developing,Country,Year,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,0,1,Afghanistan,2015,65.0,263.0,62,0.01,71.279624,1154,19.1,83,6.0,8.16,65.0,0.1,17.2,17.3,0.479,10.1
1,0,1,Afghanistan,2014,59.9,271.0,64,0.01,73.523582,492,18.6,86,58.0,8.18,62.0,0.1,17.5,17.5,0.476,10.0
2,0,1,Afghanistan,2013,59.9,268.0,66,0.01,73.219243,430,18.1,89,62.0,8.13,64.0,0.1,17.7,17.7,0.470,9.9
3,0,1,Afghanistan,2012,59.5,272.0,69,0.01,78.184215,2787,17.6,93,67.0,8.52,67.0,0.1,17.9,18.0,0.463,9.8
4,0,1,Afghanistan,2011,59.2,275.0,71,0.01,7.097109,3013,17.2,97,68.0,7.87,68.0,0.1,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,0,1,Zimbabwe,2004,44.3,723.0,27,4.36,0.000000,31,27.1,42,67.0,7.13,65.0,33.6,9.4,9.4,0.407,9.2
2934,0,1,Zimbabwe,2003,44.5,715.0,26,4.06,0.000000,998,26.7,41,7.0,6.52,68.0,36.7,9.8,9.9,0.418,9.5
2935,0,1,Zimbabwe,2002,44.8,73.0,25,4.43,0.000000,304,26.3,40,73.0,6.53,71.0,39.8,1.2,1.3,0.427,10.0
2936,0,1,Zimbabwe,2001,45.3,686.0,25,1.72,0.000000,529,25.9,39,76.0,6.16,75.0,42.1,1.6,1.7,0.427,9.8
2937,0,1,Zimbabwe,2000,46.0,665.0,24,1.68,0.000000,1483,25.5,39,78.0,7.10,78.0,43.5,11.0,11.2,0.434,9.8

In [17]:
new_data1=data6.groupby(['Country']) # 5번 나라로 묶어줌

In [18]:
new_data=new_data1.mean()# 5번 나라로 묶어준다음 평균값, new data로 선언

In [19]:
new_data= new_data.drop(['Year'],axis=1) #year 변수 제거

In [20]:
new_data #5번 확인

,Developed,Developing,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Measles,BMI,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
Country,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,1.0,58.193750,269.062500,78.250000,0.014375,34.960110,2362.250000,15.518750,107.562500,48.375000,8.252500,52.312500,0.100000,16.581250,15.581250,0.415375,8.212500
Albania,0.0,1.0,75.156250,45.062500,0.687500,4.848750,193.259091,53.375000,49.068750,0.937500,98.125000,5.945625,98.062500,0.100000,1.618750,1.700000,0.709875,12.137500
Algeria,0.0,1.0,73.486667,114.133333,20.266667,0.406667,251.930923,2069.266667,48.026667,23.466667,91.533333,4.604000,91.666667,0.100000,6.100000,5.986667,0.691667,12.600000
Angola,0.0,1.0,48.793333,328.133333,84.933333,5.740667,108.906953,3790.866667,17.666667,134.933333,48.733333,3.919333,46.600000,2.400000,6.053333,6.566667,0.453533,7.820000
Antigua and Barbuda,0.0,1.0,74.966667,135.133333,0.000000,7.949333,1068.357575,0.000000,37.806667,0.000000,97.666667,4.791333,98.266667,0.120000,3.433333,3.380000,0.468933,8.506667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),0.0,1.0,73.340000,163.400000,9.400000,7.420000,0.000000,176.000000,53.980000,10.800000,73.866667,4.998667,67.266667,0.100000,1.653333,1.566667,0.724000,12.686667
Viet Nam,0.0,1.0,74.693333,126.533333,29.266667,3.087333,0.000000,4498.066667,10.766667,36.600000,94.800000,5.977333,91.400000,0.146667,14.973333,15.700000,0.623667,11.440000
Yemen,0.0,1.0,63.740000,211.000000,39.533333,0.047333,0.000000,2914.066667,32.966667,51.933333,67.400000,5.005333,72.866667,0.100000,13.846667,13.773333,0.473933,8.473333
Zambia,0.0,1.0,53.380000,375.733333,33.866667,2.239333,95.627101,7000.800000,17.053333,53.200000,68.066667,5.824000,78.600000,12.453333,6.920000,6.806667,0.493267,11.126667
Zimbabwe,0.0,1.0,49.386667,470.800000,26.866667,4.482000,21.721890,984.533333,24.693333,41.400000,74.800000,6.158667,74.400000,24.400000,7.106667,7.086667,0.434600,9.793333

In [21]:
new_data.isna().sum(axis=1)

Country
Afghanistan                           0
Albania                               0
Algeria                               0
Angola                                0
Antigua and Barbuda                   0
                                     ..
Venezuela (Bolivarian Republic of)    0
Viet Nam                              0
Yemen                                 0
Zambia                                0
Zimbabwe                              0
Length: 171, dtype: int64

In [22]:
Y = new_data['Life expectancy'] # 6번 수명기댓값을 Y로 지정, 나머지를 X로 지정
X = new_data.drop(['Life expectancy'],axis=1)

In [23]:
X=np.array(X)
Y=np.array(Y)

X_train = X[0:137,:] #6번 X,Y를 137개 기준으로 트레인, 테스트로 나눔 
Y_train = Y[0:137]
X_test = X[137:,:]
Y_test = Y[137:]

In [24]:
class MLR: #7번 MLR클래스 정의
    def __init__(self,intercept =True):
        self.intercept = intercept
        
        
    def intercept_add(self,X):
        new_ones = np.ones(len(X))
        plus_data = new_ones.reshape(-1,1)
        new_X = np.concatenate([X,plus_data],axis=1)
        
        return new_X
    
    def fit(self,X,Y):
        if self.intercept==True:
            X = self.intercept_add(X)
            
        self.coef = np.linalg.inv(X.transpose()@X)@X.transpose()@Y
        return self.coef
    
    def predict(self,X):
        predicted = list()
        
        for sample_x in X:
            if self.intercept==True:
                sample_x=self.intercept_add(sample_x)
        
            Y_pred = sample_x@self.coef
            predicted.append(Y_pred)
            
        predicted = np.array(predicted)
        return predicted

In [25]:
class KNN: #8번 knn 클래스 정의
    def __init__(self,n_neighbor=5):
        self.n_neighbor =5
        self.neighbors = None
    
    def euclidean_dist(self,obs1,obs2):
        return np.sqrt(np.sum((obs1-obs2)**2))
    
    def search_neighbors(self,X_train,test_sample_x):
        dists_info = list()
        for index, train_sample_x in enumerate(X_train):
            dist = self.euclidean_dist(train_sample_x,test_sample_x)
            dists_info.append((dist,index,train_sample_x))
            
        dists_info.sort(key=lambda x : x[0])
        ne_in = [ne[1] for ne in dists_info]
        return ne_in[:self.n_neighbor]
    
    def predict(self, X_train, Y_train, X_test):
        predicted = list()
        for test_sample_x in X_test:
            index = self.search_neighbors(X_train,test_sample_x)
            predicted.append(np.mean(Y_train[index]))
            
        return predicted

In [26]:
def MSE(true_y,pred_y): # 9번 MSE, MAPE 함수 정의
    result = (np.sum((true_y-pred_y)**2))/len(true_y)
    return result

def MAPE(true_y, pred_y):
    result = np.sum(np.abs(true_y-pred_y))/len(true_y)
    return result

In [27]:
mlr = MLR(False) #MRL 활용하여 지표측정
mlr.fit(X_train,Y_train)
pred_y2=mlr.predict(X_test)
result3 = MSE(Y_test,pred_y2)
result4 = MAPE(Y_test,pred_y2)

In [28]:
knn = KNN(5) # knn 활용하여 지표측정
pred_y=knn.predict(X_train,Y_train,X_test)
pred_y= np.array(pred_y)
result1 = MSE(Y_test,pred_y)
result2 = MAPE(Y_test,pred_y)

In [29]:
print('MSE 지표 : Knn : {:.1f} vs MLR : {:.1F}\nMAPE 지표 : {:.1f} vs MLR : {:.1F}'.format(result1,result3,result2,result4)) # 10번 출력

MSE 지표 : Knn : 55.2 vs MLR : 10.5
MAPE 지표 : 5.5 vs MLR : 2.3